<p>tab-one detail!</p>
<button (click)="showToast()">Show toast</button>
<button (click)="callApi()">Call Api</button>
<br>
<label for="path">Select path:<select [(ngModel)]="path" name="path" id="path">
  <option [value]="'/success'">Success</option>
  <option [value]="'/error'">Error</option>
  <option [value]="'/business-error'">Business Error</option>
</select></label>
<br>
<form action="" [formGroup]="demoFormGroup"  >
  <label>Balance:
    <vt-input-upgrade vtNumberOnly formControlName="balance" componentId="balance"></vt-input-upgrade>
  </label>
  <div style="width: 20%">
    <vt-selector [componentId]="'gender'" [placeholder]="'-Select Gender-'"
                 [placeholderValue]="null" formControlName="gender" [disabled]="false"
                 [defaultValue]="'1'" [fieldSearch]="false"
                 [dataSource]="dataSource" [fields]="{value: 'id', text: 'name'}">
    </vt-selector>
  </div>
  <input type="submit" value="Submit" (click)="submitForm()">
</form>

<ng-template #demoDiv let-name="name">
  <p>My name is {{name}}</p>
</ng-template>
